# Node
node_modules/
client/node_modules/

# Builds
/dist/
client/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.local

# OS/Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Docker
*.pid

# Coverage
coverage/

# Misc
*.local
